.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.loadMoreButton {
  padding: 0.8rem;
  border-radius: 10px;
  background-color: cadetblue;
  color: white;
}
